* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: lightgrey;
}

/* common sytles */
.container {
  max-width: 1200px;
  margin: auto;
}

.outline-btn {
  background-color: white;
  padding: 18px 36px;
  border-radius: 5px;
  color: #fd6e0a;
  font-weight: bold;
  font-size: 20px;
  border: 1px solid #fd6e0a;
  cursor: pointer;
}

.common-btn {
  background-color: #fd6e0a;
  padding: 18px 36px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

.logo {
  font-weight: 800;
  font-size: 45px;
}

.logo-r {
  color: #fd6e0a;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 50px;
  align-items: center;
}

ul li a {
  text-decoration: none;
}

/* Hero sectoin styles */
.hero-parent-root {
  background-color: #fff8f3;
}

.hero-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-left-p-1 {
  font-weight: 600;
  font-size: 45px;
  color: #474747;
}

.hero-left-p-2 {
  font-weight: 400;
  font-size: 18px;
  color: #757575;
}

.hero-left h2 {
  font-weight: 700;
  font-size: 85px;
}

.hero-left-btn-parent {
  margin-top: 12px;
}

/* About CSS section */
.about-parent {
  background-color: #fff8f3;
  margin: 130px auto;
  border-radius: 10px;
  padding: 150px;
  width: 1200px;
  text-align: center;
}

.about-parent p {
  margin: 20px 0;
}

.about-box-parent {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.about-box-parent .box {
  background-color: antiquewhite;
  padding: 5px;
  border-radius: 5px;
}

/* What i do sections css*/
.what-i-do-parent {
  margin: 60px auto;
  text-align: center;
}

.what-i-do-card-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.what-i-do-card-container .what-i-do-card {
  border: 2px solid #fd6e0a;
  padding: 8px;
  border-radius: 10px;
  text-align: left;
}

.what-i-do-card-container .what-i-do-card h4 {
  margin: 10px 0;
}

.what-i-do-card-container .what-i-do-card p{
  color: #757575;
  font-size: 15px;
}

/* My amazing work css */
.my-amazing-parent {
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  grid-auto-rows: 250px;
  grid-template-areas: 
  "one two three"
  "four two six"
  "four five six";
}

.gallery div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.box-1{
  grid-area: one;
}
.box-2{
  grid-area: two;
}
.box-3{
  grid-area: three;
}
.box-4{
  grid-area: four;
}
.box-5{
  grid-area: five;
}
.box-6{
  grid-area: six;
}

/* footer */

footer {
  text-align: center;
  margin-top: 70px !important;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  background-color: #fff8f3;
}

footer form {
  padding: 50px;
}

.footer-left p, img  {
  text-align: left;
  margin: 20px ;
}

footer form input, textarea{
  background-color: white;
  outline: none;
  border: none;
  padding: 8px 15px;
  border-radius: 10p0x;
  margin: 6px;
  display: block;
  width: 100%;
}